<form action="">
    <h2 class="section-title">新增用户</h2>
    <ul class="form">
        <li>
            <label class="form-text">用户名：</label>
            <input type="text" class="field">
            <span class="form-tip">* 必填</span>
        </li>
        <li>
            <label class="form-text">用户密码：</label>
            <input type="password" class="field">
            <!-- 弱.password-level-1, 中.password-level-2, 强 .password-level-3 -->
            <div class="password-level password-level-3">
                <div class="password-level-hd">
                    <div class="password-level-hd-inner">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="password-level-bd clearfix">
                    <span>弱</span>
                    <span>中</span>
                    <span>强</span>
                </div>
            </div>
        </li>
        <li>
            <label class="form-text">用户角色：</label>
            <select class="field">
                <option value="">普通管理员</option>
            </select>
        </li>
        <li>
            <label class="form-text">用户权限：</label>
            <ul>
                <li><label class="checkbox"><input type="checkbox"> 消息管理</label></li>
                <li><label class="checkbox"><input type="checkbox"> 公告管理</label></li>
                <li><label class="checkbox"><input type="checkbox"> 统计管理</label></li>
            </ul>
        </li>
        <li>
            <button class="button button-large button-submit" type="submit">新增用户</button>
        </li>
    </ul>
</form>