<div class="aside user-aside">
    <div class="logo aside-hd"><span>育网云</span></div>

    <ul class="menu" id="menu">
        <li class="menu-item">
            <div class="menu-item-hd">
                <i class="material-icons">expand_more</i>
                <i class="menu-icon fa fa-bookmark"></i> 磁盘管理
            </div>
            <ul class="menu-sub">
                <li><a href="admin-disks.html">教研展示盘</a></li>
                <li><a href="admin-disks.html">磁盘管理</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a class="menu-item-hd" href=""><i class="menu-icon fa fa-cog"></i> 云盘设置</a>
        </li>
    </ul>
</div>

<script>
(function () {

$('#menu').on('click', '.menu-item-hd', function (event) {
    if($(this).closest('li').find('.menu-sub').length < 1) {
        return;
    }
    event.preventDefault();
    $(this).closest('li')
        .siblings('.menu-selected').removeClass('menu-selected').end()
        .toggleClass('menu-selected');
});

})();
</script>