<div id="disks">
    <div class="disk-tip">带*号为临时盘</div>
    <div class="file-buttons">
        <button type="button" class="button button-large"><i class="fa fa-plus-circle"></i> 添加</button>
        <button type="button" class="button button-large button-remove"><i class="fa fa-trash"></i> 删除</button>
        <button type="button" class="button button-large"><i class="fa fa-reply-all"></i> 导出报表</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="table-col-check"></th>
                <th>盘符</th>
                <th>磁盘名称</th>
                <th>磁盘大小</th>
                <th>使用空间</th>
                <th>文件夹</th>
                <th>文件</th>
                <th>授权方式</th>
                <th>状态</th>
                <th class="disk-col-tools">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="n in 5">
                <td class="table-col-check">
                    <input type="checkbox">
                </td>
                <td>C:</td>
                <td>资料盘</td>
                <td>50G</td>
                <td>24G</td>
                <td>171</td>
                <td>92</td>
                <td>按目录授权</td>
                <td>显示</td>
                <td class="disk-col-tools">
                    <button class="table-button" type="button">编辑</button>
                    <button class="table-button" type="button" @click="showAccessForm">权限</button>
                    <button class="table-button" type="button" @click="showDiskForm">管理</button>
                    <button class="table-button" type="button" disabled>审核</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="clearfix">
        <div class="disk-table-tools">
            <label><input type="checkbox"> 全选</label>
            <a href="">批量删除</a>
        </div>
        
        <div class="pagination">
            <span class="pagination-count">共[<em>64</em>]项信息</span>
            <span class="pagination-select">
                每页显示
                <select>
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </span>
            <div class="pagination-main">
                <span title="上一页">&lt;</span><!-- 禁用状态 -->
                <a href="" title="上一页">&lt;</a>
                <a href="">1</a>
                <span class="pagination-current">2</span>
                <a href="">3</a>
                <span>...</span>
                <a href="">11</a>
                <a href="">12</a>
                <a href="" title="下一页">&gt;</a>
                <span title="下一页">&gt;</span><!-- 禁用状态 -->
            </div>
        </div>
    </div>

    <div v-cloak v-if="diskForm" class="dialog dialog-disk" @click="hideDiskForm">
        <div class="dialog-inner dialog-disk-inner">
            <a href="" class="dialog-close" title="关闭" @click.prevent="hideDiskForm"><i class="ion-close-round"></i></a>
            <h2 class="dialog-hd">磁盘管理</h2>
            <form action="">
                <ul class="form">
                    <li>
                        <label class="form-text">磁盘名称：</label>
                        <input type="text" class="field">
                        <span class="form-tip">* 必填</span>
                    </li>
                    <li>
                        <label class="form-text">盘符：</label>
                        <select class="field">
                            <option value="">C</option>
                            <option value="">D</option>
                        </select>
                    </li>
                    <li>
                        <label class="form-text">空间大小：</label>
                        <input type="text" class="field">
                        <span class="form-tip">* 必填</span>
                    </li>
                    <li>
                        <label class="form-text">磁盘类型：</label>
                        <select class="field">
                            <option value="">永久盘</option>
                        </select>
                    </li>
                    <li>
                        <label class="form-text">授权方式：</label>
                        <select class="field">
                            <option value="">按目录授权</option>
                        </select>
                    </li>
                    <li>
                        <label class="form-text">状态：</label>
                        <select class="field">
                            <option value="">显示</option>
                        </select>
                    </li>
                    <li>
                        <button class="button button-large button-submit">提 交</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    
    <div v-cloak v-if="accessForm" class="dialog dialog-access" @click="hideAccessForm">
        <div class="dialog-inner dialog-access-inner">
            <a href="" class="dialog-close" title="关闭" @click.prevent="hideAccessForm"><i class="ion-close-round"></i></a>
            <h2 class="dialog-hd">访问权限设置</h2>
                
            <div class="dialog-access-bd">
                <div class="file-buttons">
                    <button type="button" class="button button-large"><i class="fa fa-plus-circle"></i> 添加</button>
                    <button type="button" class="button button-large button-remove"><i class="fa fa-trash"></i> 删除</button>
                </div>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-col-check"></th>
                            <th>序号</th>
                            <th>登录名</th>
                            <th>姓名</th>
                            <th>批量</th>
                            <th>新建目录</th>
                            <th>删除目录</th>
                            <th>修改目录</th>
                            <th>删除文件</th>
                            <th>修改文件</th>
                            <th>删除文件</th>
                            <th>设置标签</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="n in 5">
                            <td class="table-col-check"><label><input type="checkbox"></label></td>
                            <td>{{n}}</td>
                            <td>admin</td>
                            <td>管理员</td>
                            <td><i class="fa fa-exchange"></i></td>
                            <td><i class="fa fa-check-circle"></i></td>
                            <td><i class="fa fa-check-circle"></i></td>
                            <td><i class="fa fa-ban"></i></td>
                            <td><i class="fa fa-exchange"></i></td>
                            <td><i class="fa fa-check-circle"></i></td>
                            <td><i class="fa fa-check-circle"></i></td>
                            <td><i class="fa fa-check-circle"></i></td>
                        </tr>
                    </tbody>
                </table>

                <div class="clearfix">
                    <div class="disk-table-tools">
                        <label><input type="checkbox"> 全选</label>
                        <a href="">批量删除</a>
                    </div>
                    
                    <div class="pagination">
                        <span class="pagination-count">共[<em>64</em>]项信息</span>
                        <span class="pagination-select">
                            每页显示
                            <select>
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </span>
                        <div class="pagination-main">
                            <span title="上一页">&lt;</span><!-- 禁用状态 -->
                            <a href="" title="上一页">&lt;</a>
                            <a href="">1</a>
                            <span class="pagination-current">2</span>
                            <a href="">3</a>
                            <span>...</span>
                            <a href="">11</a>
                            <a href="">12</a>
                            <a href="" title="下一页">&gt;</a>
                            <span title="下一页">&gt;</span><!-- 禁用状态 -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<script>
(function () {

var data = {
    diskForm: false,
    accessForm: false
};

function showDiskForm() {
    this.diskForm = true;
}

function hideDiskForm() {
    this.diskForm = false;
}

function showAccessForm() {
    this.accessForm = true;
}

function hideAccessForm() {
    this.accessForm = false;
}

new Vue({
    el: '#disks',
    data: data,
    methods: {
        showDiskForm: showDiskForm,
        hideDiskForm: hideDiskForm,
        showAccessForm: showAccessForm,
        hideAccessForm: hideAccessForm
    }
});

})();
</script>