<div class="disk-usage">
    <a class="disk-upgrade" href="">升级空间</a>
    <h2 class="box-title">物理空间概览</h2>
    <table class="disk-usage-bd">
        <tbody>
            <tr>
                <td class="disk-usage-current" style="width: 60%;">已用物理空间 120GB</td>
                <td class="disk-usage-remain">剩余物理空间 80GB</td>
            </tr>
        </tbody>
    </table>
    <div class="disk-usage-ft">总物理空间：380G 已用物理空间：120G  剩余物理空间：380G</div>
</div>

<div class="disk-summary">
    <h2 class="box-title">分配空间概览</h2>
    <table class="disk-summary-bd">
        <tr>
            <td>
                <em>12</em>
                <span><i class="fa fa-stack-exchange"></i> 公共盘个数</span>
            </td>
            <td>
                <em>2</em>
                <span><i class="fa fa-database"></i> 临时盘个数</span>
            </td>
            <td>
                <em>4</em>
                <span><i class="fa fa-user"></i> 总用户数</span>
            </td>
            <td>
                <em>92</em>
                <span><i class="fa fa-folder"></i> 文件夹个数</span>
            </td>
            <td>
                <em>171</em>
                <span><span class="fa fa-clone"></span> 文件个数</span>
            </td>
        </tr>
    </table>
</div>