<div class="aside user-aside">
    <div class="logo aside-hd"><span>育网云</span></div>

    <ul class="menu" id="menu">
        <li class="menu-item">
            <div class="menu-item-hd"><i class="material-icons">expand_more</i> <i class="menu-icon fa fa-bookmark"></i> 文件管理</div>
            <ul class="menu-sub">
                <li><a href="my-files.html">我上传的文件</a></li>
                <li><a href="my-files.html">我收藏的文件</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a class="menu-item-hd" href=""><i class="menu-icon fa fa-bell"></i> 消息管理</a>
        </li>
        <li class="menu-item">
            <a class="menu-item-hd" href=""><i class="menu-icon fa fa-shield"></i> 使用统计</a>
        </li>
        <li class="menu-item">
            <a class="menu-item-hd" href="admin-add-user.html"><i class="menu-icon fa fa-fire"></i> 个人设置</a>
        </li>
    </ul>
</div>

<script>
(function () {

$('#menu').on('click', '.menu-item-hd', function (event) {
    if($(this).closest('li').find('.menu-sub').length < 1) {
        return;
    }
    event.preventDefault();
    $(this).closest('li')
        .siblings('.menu-selected').removeClass('menu-selected').end()
        .toggleClass('menu-selected');
});

})();
</script>