<div class="file-buttons">
    <button type="button" class="button button-large button-remove"><i class="fa fa-trash"></i> 删除</button>
    <button type="button" class="button button-large"><i class="fa fa-reply-all"></i> 导出报表</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="table-col-check"></th>
            <th>文件名</th>
            <th>更新时间</th>
            <th>文件大小</th>
            <th>上传者</th>
            <th>路径</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-col-check"><input type="checkbox"></td>
            <td>
                <div class="file-list-name">
                    <i class="filetype filetype-docx"></i>
                    <a href="">南昌市基础数据平台建设方案v2.docx</a>
                </div>
            </td>
            <td>2016-12-12 19:23:09</td>
            <td>127KB</td>
            <td>周之前</td>
            <td class="file-col-filepath">／云盘／网教云盘／南昌市</td>
        </tr>
        <tr>
            <td class="table-col-check"><input type="checkbox"></td>
            <td>
                <div class="file-list-name">
                    <i class="filetype filetype-docx"></i>
                    <a href="">南昌市基础数据平台建设方案v2.docx</a>
                </div>
            </td>
            <td>2016-12-12 19:23:09</td>
            <td>127KB</td>
            <td>周之前</td>
            <td class="file-col-filepath">／云盘／网教云盘／南昌市</td>
        </tr>
        <tr>
            <td class="table-col-check"><input type="checkbox"></td>
            <td>
                <div class="file-list-name">
                    <i class="filetype filetype-docx"></i>
                    <a href="">南昌市基础数据平台建设方案v2.docx</a>
                </div>
            </td>
            <td>2016-12-12 19:23:09</td>
            <td>127KB</td>
            <td>周之前</td>
            <td class="file-col-filepath">／云盘／网教云盘／南昌市</td>
        </tr>
        <tr>
            <td class="table-col-check"><input type="checkbox"></td>
            <td>
                <div class="file-list-name">
                    <i class="filetype filetype-docx"></i>
                    <a href="">南昌市基础数据平台建设方案v2.docx</a>
                </div>
            </td>
            <td>2016-12-12 19:23:09</td>
            <td>127KB</td>
            <td>周之前</td>
            <td class="file-col-filepath">／云盘／网教云盘／南昌市</td>
        </tr>
        <tr>
            <td class="table-col-check"><input type="checkbox"></td>
            <td>
                <div class="file-list-name">
                    <i class="filetype filetype-docx"></i>
                    <a href="">南昌市基础数据平台建设方案v2.docx</a>
                </div>
            </td>
            <td>2016-12-12 19:23:09</td>
            <td>127KB</td>
            <td>周之前</td>
            <td class="file-col-filepath">／云盘／网教云盘／南昌市</td>
        </tr>
    </tbody>
</table>