<div class="disk-usage my-usage">
    <a class="disk-upgrade" href="">升级空间</a>
    <h2 class="box-title">物理空间概览</h2>
    <table class="disk-usage-bd">
        <tbody>
            <tr>
                <td class="disk-usage-current" style="width: 60%;">已用物理空间 120GB</td>
                <td class="disk-usage-remain">剩余物理空间 80GB</td>
            </tr>
        </tbody>
    </table>
    <div class="disk-usage-ft">总物理空间：380G 已用物理空间：120G  剩余物理空间：380G</div>
</div>

<div class="my-chart clearfix">
    <div class="my-chart-item">
        <div class="box-title">使用统计</div>
        <img src="images/_temp/pie.png" alt="">    
    </div>

    <div class="my-chart-item">
        <div class="my-chart-tab">
            <a class="selected" href="">私有盘</a>
            <a href="">资料盘</a>
            <a href="">数据盘</a>
        </div>
        <div class="box-title">文件统计</div>
        <img src="images/_temp/bar.png" alt="">
    </div>
</div>