<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>育网云</title>
<!--#include virtual="inc/head_static.html" -->
<link rel="stylesheet" href="style/login.css">
</head>

<body class="simple">
<!--#include virtual="inc/simple-header.html" -->

<div class="login clearfix">
    <div class="login-aside">
        <div class="login-slogan">
            <h2>Cloud Service</h2>
            <p>We are not the same</p>
        </div>
        <div id="login-activity" class="login-activity">
            <div class="login-activity-item">
                <div class="login-activity-item-bd">
                    <em><i class="material-icons">record_voice_over</i><a href="" @click.prevent="showNotice">网站试运行期间，请大家多提宝贵意见</a></em>
                    <span>06.01.21</span>
                </div>
            </div>
            <div class="login-activity-item">
                <div class="login-activity-item-bd">
                    <em><i class="material-icons">record_voice_over</i><a href="" @click.prevent="showNotice">网站试运行期间，感谢大家多提宝贵意见</a></em>
                    <span>06.01.22</span>
                </div>
            </div>
            <div class="login-activity-item">
                <div class="login-activity-item-bd">
                    <em><i class="material-icons">record_voice_over</i><a href="" @click.prevent="showNotice">网站试运行期间，希望大家多提宝贵意见</a></em>
                    <span>06.01.23</span>
                </div>
            </div>
        </div>
    </div>

    <div class="login-main">
        <form action="disk-home.html">
            <ul>
                <li class="login-item">
                    <input class="login-field" type="text" placeholder="输入账号／邮箱">
                    <i class="icons icon-user"></i>
                    <div class="form-error">密码错误，请重新输入 <i class="material-icons">cancel</i></div>
                </li>
                <li class="login-item">
                    <input class="login-field" type="password" placeholder="输入账号密码">
                    <div class="icons icon-lock"></div>
                </li>
                <li class="login-item">
                    <input type="text" class="login-field login-field-captcha" placeholder="输入验证码">
                    <img class="login-captcha" src="images/_temp/captcha.png" alt="">
                </li>
                <li class="login-tools clearfix">
                    <label class="pull-left"><input type="checkbox"> 记住我</label>
                    <a class="pull-right" href="">忘记密码</a>
                </li>
            </ul>
            <button class="login-submit" type="submit">登 录</button>
        </form>
    </div>
</div>

<div v-if="dialog" id="notice" class="dialog" v-cloak @click.self="closeNotice">
    <div class="dialog-inner notice">
        <a href="" class="dialog-close" title="关闭" @click.prevent="closeNotice"><i class="ion-close-round"></i></a>
        <h2 class="dialog-hd">系统公告</h2>
        <div class="notice-bd">
            <h3 class="notice-title">{{dialog.title}}</h3>
            <div class="notice-datetime">2016.12.13 12:30</div>
            <div class="notice-content" v-html="dialog.content"></div>
        </div>
    </div>
</div>

<script src="libs/slick/slick-1.6.0.js"></script>
<script>
(function () {

var notice = new Vue({
    el: '#notice',
    data: {
        dialog: null
    },
    watch: {
        dialog: function (value) {
            $('html').toggleClass('noscroll', value);
        }
    },
    methods: {
        closeNotice: closeNotice 
    }
});

function closeNotice() {
    this.dialog = null;
}

function showNotice() {
    notice.dialog = {
        title: '网站试运行期间，欢迎大家多提宝贵意见',
        content: '<p>网育云盘团队，经过近2个月不断优化调整，从系统的整体视觉到交互都做了非常大的挑战，此次调整的目的也是为了提升用户体验。让用户从系统功能到操作习惯都有很大的提升；</p>'
    };
}

$('#login-activity').on('init', function () {
    $(this).find('div.login-activity-item-bd').each(function () {
        new Vue({
            el: this,
            data: {

            },
            methods: {
                showNotice: showNotice
            }
        })
    });
});   

$('#login-activity').slick({
    vertical: true,
    arrows: false,
    autoplay: true
});

})();
</script>

</body>
</html>