$blue: #2778BE;

.password-level {
    position: absolute;
    left: 100%;
    top: 6px;
    margin-left: 10px;
    span {
        float: left;
        margin-right: 1px;
        width: 29px;
        text-align: center;
        color: #9B9B9B;
        font-size: 12px;
    }
}
.password-level-hd {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: all 0.5s;
    span {
        height: 12px;
    }
    span:nth-of-type(1) {
        background-color: #50E3C2;
    }
    span:nth-of-type(2) {
        background-color: #FF7200;
    }
    span:nth-of-type(3) {
        background-color: #FF5960;
    }
    .password-level-1 & {
        width: 30px;
    }
    .password-level-2 & {
        width: 60px;
    }
    .password-level-3 & {
        width: 100%;
    }
}
.password-level-hd-inner {
    width: 100px;
}
.password-level-bd {
    width: 300px;
    font-size: 0;
    span {
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 12px;
            margin-bottom: 2px;
            background: #9B9B9B;
        }
    }
}
.disk-tip {
    float: right;
    color: #9B9B9B;
    font-size: 12px;
    line-height: 22px;
}
.file-buttons {
    margin-bottom: 30px;
}
.disk-table-tools {
    float: left;
    line-height: 28px;
    font-size: 13px;
    label {
        margin-right: 20px;
        color: #9B9B9B;
    }
    input {
        margin-right: 5px;
    }
    a {
        color: $blue;
        + a {
            margin-left: 10px;
        }
    }
}
.dialog-disk-inner {
    width: 650px;
    .form {
        width: 520px;
    }
}
.dialog-access-inner {
    width: 1055px;
    .fa {
        font-size: 20px;
    }
    .fa-exchange {
        color: $blue;
    }
    .fa-check-circle {
        color: #27D0D8;
    }
    .fa-ban {
        color: #FF5960;
    }
}
.dialog-access-bd {
    height: 390px;
    overflow: auto;
    padding: 25px;
}
.table {
    .disk-col-tools {
        width: 230px;
        text-align: right;
    }
}
