.password-level {
  position: absolute;
  left: 100%;
  top: 6px;
  margin-left: 10px;
}
.password-level span {
  float: left;
  margin-right: 1px;
  width: 29px;
  text-align: center;
  color: #9B9B9B;
  font-size: 12px;
}

.password-level-hd {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.password-level-hd span {
  height: 12px;
}
.password-level-hd span:nth-of-type(1) {
  background-color: #50E3C2;
}
.password-level-hd span:nth-of-type(2) {
  background-color: #FF7200;
}
.password-level-hd span:nth-of-type(3) {
  background-color: #FF5960;
}
.password-level-1 .password-level-hd {
  width: 30px;
}
.password-level-2 .password-level-hd {
  width: 60px;
}
.password-level-3 .password-level-hd {
  width: 100%;
}

.password-level-hd-inner {
  width: 100px;
}

.password-level-bd {
  width: 300px;
  font-size: 0;
}
.password-level-bd span:before {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  margin-bottom: 2px;
  background: #9B9B9B;
}

.disk-tip {
  float: right;
  color: #9B9B9B;
  font-size: 12px;
  line-height: 22px;
}

.file-buttons {
  margin-bottom: 30px;
}

.disk-table-tools {
  float: left;
  line-height: 28px;
  font-size: 13px;
}
.disk-table-tools label {
  margin-right: 20px;
  color: #9B9B9B;
}
.disk-table-tools input {
  margin-right: 5px;
}
.disk-table-tools a {
  color: #2778BE;
}
.disk-table-tools a + a {
  margin-left: 10px;
}

.dialog-disk-inner {
  width: 650px;
}
.dialog-disk-inner .form {
  width: 520px;
}

.dialog-access-inner {
  width: 1055px;
}
.dialog-access-inner .fa {
  font-size: 20px;
}
.dialog-access-inner .fa-exchange {
  color: #2778BE;
}
.dialog-access-inner .fa-check-circle {
  color: #27D0D8;
}
.dialog-access-inner .fa-ban {
  color: #FF5960;
}

.dialog-access-bd {
  height: 390px;
  overflow: auto;
  padding: 25px;
}

.table .disk-col-tools {
  width: 230px;
  text-align: right;
}
