* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #4A4A4A;
  font: 14px / 1.3 'Helvetica Neue', Helvetica, 'PingFang SC', "Microsoft YaHei", SimSun, sans-serif;
}

html, body {
  height: 100%;
}

button, input, select, textarea,
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6,
address, em, i, b,
caption, th {
  font-weight: normal;
}

em {
  font-style: normal;
}

ul, ol, li {
  list-style: none;
}

a {
  color: #4A4A4A;
  text-decoration: none;
}
a:hover {
  color: #2778BE;
}

a, button, input, select, textarea {
  outline: 0;
}

button, img {
  border: 0;
}

button {
  cursor: pointer;
  background: none;
}

select {
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

[v-cloak] {
  display: none;
}

.material-icons {
  vertical-align: middle;
}

.simple {
  background: #2778BE url(../images/body.png) no-repeat;
  background-size: cover;
}

.simple-header {
  width: 700px;
  margin: 85px auto 50px auto;
  padding: 0 10px;
}
.simple-header, .simple-header a {
  color: #fff;
}
.simple-header .logo {
  float: left;
}

.logo {
  text-align: center;
}
.logo span {
  display: inline-block;
  padding-left: 60px;
  background: url(../images/logo.svg) no-repeat left center;
  line-height: 33px;
  font-size: 29px;
  letter-spacing: 9px;
  color: #fff;
}

.simple-header-aside {
  float: right;
  line-height: 24px;
}
.simple-header-aside a + a {
  margin-left: 30px;
}
.simple-header-aside .material-icons {
  float: left;
  margin-right: 5px;
}
.simple-header-aside .icon {
  margin-right: 5px;
  font-size: 20px;
  vertical-align: middle;
}

.aside,
.main {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.aside {
  position: absolute;
  left: 0;
  top: 0;
  width: 220px;
  height: 100%;
  border-right: 1px solid #EBF2FF;
  padding: 43px 0 125px 0;
}
.fullsize .aside {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.aside-hd {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px 0;
  background-color: #2778BE;
}

.main {
  min-width: 1000px;
  height: 100%;
  margin-left: 220px;
  overflow: auto;
}
.fullsize .main {
  margin-left: 0;
}

.content {
  min-height: 100%;
  padding: 30px;
  overflow: hidden;
}

.table {
  width: 100%;
}
.table th {
  height: 37px;
  border-bottom: 2px solid #EBEBEB;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
}
.table td {
  padding: 8px 0;
  border-bottom: 1px dashed #EBEBEB;
  font-size: 12px;
}

.table-col-check {
  width: 30px;
  text-align: center;
}

.table-button {
  display: inline-block;
  min-width: 45px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #2778BE;
  border-radius: 100px;
  color: #2778BE;
  font-size: 12px;
}
.table-button + .table-button {
  margin-left: 8px;
}
.table-button:hover {
  background: #2778BE;
  color: #fff;
}
.table-button[disabled], .table-button[disabled]:hover {
  border-color: #C1C1C1;
  background: none;
  color: #4A4A4A;
  cursor: default;
}

.crumb {
  padding-left: 30px;
  border-bottom: 1px solid #F3F3F3;
}

.crumb-bd {
  line-height: 40px;
  color: #9B9B9B;
  font-size: 13px;
}

.searchbar {
  float: right;
  margin: 5px 20px 0 0;
}

.searchbar-field {
  position: relative;
  float: left;
}
.searchbar-field input {
  width: 205px;
  padding: 0 25px 0 20px;
  height: 30px;
  border: 2px solid #C1C1C1;
  border-radius: 15px;
  font-size: 12px;
}

.searchbar-submit {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #4A4A4A;
  font-size: 18px;
}

.searchbar-more {
  float: left;
  line-height: 30px;
  margin-left: 15px;
  color: #2778BE;
}

.search-count {
  margin-bottom: 20px;
  text-align: center;
  font-size: 13px;
}
.search-count em {
  color: #FF5960;
}

.button {
  border: 2px solid #2778BE;
  min-width: 60px;
  padding: 0 10px;
  height: 22px;
  color: #2778BE;
  font-size: 12px;
  text-align: center;
}
.button + .button {
  margin-left: 5px;
}
.button:hover {
  background-color: #2778BE;
  color: #fff;
}

.button-large {
  height: 34px;
  font-size: 14px;
}
.button-large + .button-large {
  margin-left: 8px;
}

.button-remove {
  border-color: #FF5960;
  color: #FF5960;
}
.button-remove:hover {
  background-color: #FF5960;
  color: #fff;
}

.button-submit {
  display: block;
  width: 100%;
  background-color: #2778BE;
  color: #fff;
}

.pagination {
  margin: 10px 0;
  text-align: right;
  color: #9B9B9B;
  font-size: 13px;
}

.pagination-count {
  margin-right: 20px;
}
.pagination-count em {
  color: #4A4A4A;
}

.pagination-select {
  margin-right: 10px;
}
.pagination-select select {
  height: 27px;
  border: 1px solid #F2F2F2;
}

.pagination-main {
  display: inline-block;
  margin: -2px 10px 0 0;
  border: 1px solid #F2F2F2;
  border-left: 0;
  border-radius: 5px;
  overflow: hidden;
  vertical-align: middle;
}
.pagination-main a, .pagination-main span, .pagination-main em {
  display: inline-block;
  border-left: 1px solid #F2F2F2;
  line-height: 26px;
  min-width: 26px;
  padding: 0 5px;
  color: #979797;
  text-align: center;
}
.pagination-main a:hover {
  color: #2778BE;
}
.pagination-main .pagination-current {
  background-color: #E8E8E4;
  color: #273143;
}

.context-menu {
  position: absolute;
  z-index: 50;
  width: 130px;
  border: 1px solid #EBEBEB;
  background: #fff;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.04);
}
.context-menu li {
  position: relative;
  color: #4A4A4A;
  cursor: pointer;
  padding-left: 25px;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.context-menu i {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 12px;
}
.context-menu .fa-refresh {
  color: #2778BE;
}
.context-menu .fa-star {
  color: #FF7200;
}
.context-menu li:hover,
.context-menu .selected {
  background: #4A4A4A;
}
.context-menu li:hover, .context-menu li:hover .fa,
.context-menu .selected,
.context-menu .selected .fa {
  color: #fff;
}

.noscroll, .noscroll body {
  overflow: hidden;
}

.dialog {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(74, 74, 74, 0.8);
}

.dialog-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 900px;
  max-height: 100%;
  overflow: auto;
  background: #fff;
}

.dialog-close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  line-height: 1;
  color: #FF5960;
}

.dialog-hd {
  padding-left: 35px;
  background: #F7F8F9;
  color: #2778BE;
  font-size: 20px;
  line-height: 60px;
}

.user-aside {
  background: #2778BE;
}

.menu ul {
  background: #F6F6F6;
  line-height: 40px;
}
.menu ul a {
  color: #2778BE;
}
.menu a {
  display: block;
}

.menu-item li a {
  display: block;
  width: 100%;
  padding-left: 65px;
}

.menu-item-hd {
  padding: 0 30px;
  line-height: 45px;
  cursor: pointer;
}
.menu-item-hd, .menu-item-hd:hover {
  color: #fff;
}
.menu-item-hd .material-icons {
  float: right;
  font-size: 20px;
  line-height: 45px;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-selected .menu-item-hd .material-icons {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-icon {
  float: left;
  font-size: 20px;
  width: 35px;
  line-height: 45px;
}

.menu-sub {
  display: none;
}
.menu-sub a {
  position: relative;
}
.menu-sub a:before {
  content: "";
  position: absolute;
  left: 36px;
  top: 50%;
  width: 3px;
  height: 3px;
  margin-top: -2px;
  border-radius: 100px;
  background: #2778BE;
}
.menu-selected .menu-sub {
  display: block;
}

.section-title {
  margin-bottom: 35px;
  padding-left: 20px;
  background: #F6F6F6;
  line-height: 36px;
}

.box-title {
  margin-bottom: 15px;
}

.disk-upgrade {
  float: right;
  padding: 0 10px;
  border-radius: 100px;
  background: #FF5960;
  color: #fff;
  line-height: 24px;
  font-size: 12px;
}

.disk-usage-bd {
  width: 100%;
  margin-bottom: 15px;
  background: #F6F6F6;
}
.disk-usage-bd td {
  height: 95px;
  text-align: center;
}

.disk-usage-current {
  background: #F5A623;
  color: #4A4A4A;
}
.my-usage .disk-usage-current {
  background: #B8E986;
}

.disk-usage-remain {
  color: #9B9B9B;
}

.disk-usage-ft {
  color: #9B9B9B;
  font-size: 12px;
  text-align: right;
}

.disk-summary {
  margin-top: 30px;
}

.disk-summary-bd {
  width: 100%;
}
.disk-summary-bd td {
  height: 175px;
  border: 1px solid #F3F3F3;
  text-align: center;
  color: #9B9B9B;
}
.disk-summary-bd em {
  display: block;
  color: #2778BE;
  font-size: 72px;
  line-height: 100px;
}
.disk-summary-bd .fa {
  font-size: 20px;
  vertical-align: middle;
}

.confirm {
  width: 520px;
}

.confirm-bd {
  padding: 80px 50px;
  font-size: 20px;
  text-align: center;
}

.confirm-ft {
  padding-bottom: 30px;
  text-align: center;
}
.confirm-ft .button {
  margin-left: 30px;
  width: 135px;
  background-color: #2778BE;
  color: #fff;
}
