.nav {
  height: 100%;
  overflow: auto;
}

.nav-hd {
  padding-left: 30px;
  background: #EBF2FF;
  font-size: 16px;
  line-height: 45px;
  overflow: hidden;
}
.nav-hd .ion-android-person {
  font-size: 20px;
  vertical-align: middle;
}

.nav-bd {
  padding-bottom: 20px;
  font-size: 16px;
  text-align: center;
}
.nav-bd li {
  margin-top: 20px;
}
.nav-bd a {
  display: block;
  width: 100%;
}

.fa-file-image-o {
  color: #27D0D8;
}

.fa-file-word-o {
  color: #2778BE;
}

.fa-file-audio-o {
  color: #BD10E0;
}

.fa-trash-o,
.fa-file-video-o {
  color: #FF5960;
}

.nav-hd-more {
  float: right;
  width: 55px;
  line-height: 46px;
  text-align: center;
}

.nav-tree {
  display: none;
  margin: 10px 0 10px 35px;
}
.nav-tree .ion-ios-folder {
  color: #F5A623;
  font-size: 18px;
}

.nav-disk {
  background: #F5F9FF;
}

.nav-asset-selected .nav-disk-asset {
  background: #fff;
}
.nav-asset-selected .nav-tree-asset {
  display: block;
}

.nav-data-selected .nav-disk-data {
  background: #fff;
}
.nav-data-selected .nav-tree-data {
  display: block;
}

.nav-view-selected .nav-disk-view {
  background: #fff;
}
.nav-view-selected .nav-tree-view {
  display: block;
}

.nav-disk-item-hd {
  display: block;
  padding-left: 35px;
  border-bottom: 1px solid #EBF2FF;
  line-height: 45px;
  color: #2E5576;
  font-size: 15px;
}
.nav-disk-item-hd:before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background: url(../images/disk.png) no-repeat center center;
  vertical-align: middle;
  background-size: 16px;
}

.nav-disk-trash:before {
  display: none;
}
.nav-disk-trash .fa-trash-o {
  font-size: 20px;
  width: 20px;
  margin-right: 5px;
  text-align: center;
}

.aside-more {
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  height: 100%;
  background: #fff;
}

.aside-more-selected {
  position: relative;
}
.aside-more-selected .nav-hd-more {
  background: #fff;
  color: #FF5960;
}

.aside-ft {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.aside-summary {
  width: 180px;
  margin: 0 auto 10px auto;
  font-size: 12px;
}

.aside-summary-bd {
  margin: 5px 0;
  background: #F6F6F6;
}
.aside-summary-bd, .aside-summary-bd span {
  height: 14px;
}
.aside-summary-bd span {
  display: block;
  background: #50E3C2;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.aside-summary-ft {
  color: #9B9B9B;
}
.aside-summary-ft em {
  color: #4A4A4A;
}

.aside-download {
  background: #F6F6F6;
}
.aside-download li {
  float: left;
  width: 33.3%;
  text-align: center;
}
.aside-download i {
  color: #C1C1C1;
  font-size: 28px;
  line-height: 50px;
}

.disk {
  border-right: 3px solid #4A4A4A;
}

.recent {
  margin-left: 45px;
}
.recent + .recent {
  margin-top: 0;
  padding-top: 40px;
  border-top: 1px dashed #EBEBEB;
}

.disk-title {
  position: relative;
}
.disk-title span {
  color: #9B9B9B;
  font-size: 12px;
}
.disk-title .ion-ios-folder {
  position: absolute;
  left: -45px;
  top: 0;
  border-radius: 100px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  background: #27D0D8;
  color: #fff;
  font-size: 16px;
}

.disk-title-summary {
  float: right;
  color: #9B9B9B;
  font-size: 12px;
  text-align: center;
}
.disk-title-summary strong {
  display: block;
  font-size: 16px;
}

.file-grid ul {
  margin-left: -10px;
  padding-bottom: 10px;
}
.file-grid li {
  float: left;
  position: relative;
  width: 140px;
  height: 130px;
  margin: 10px 0 0 10px;
  padding: 5px 0;
  overflow: hidden;
  text-align: center;
}
.file-grid .file-grid-checkbox {
  display: none;
  position: absolute;
  top: 8px;
  left: 8px;
}
.file-grid li:hover,
.file-grid .selected {
  background: #F6F6F6;
}
.file-grid li:hover .file-grid-checkbox,
.file-grid .selected .file-grid-checkbox {
  display: block;
}

.filetype {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
  background: url(../images/filetype/unknown.png) no-repeat center center;
  background-size: auto 90%;
  vertical-align: middle;
}
.table .filetype {
  width: 16px;
  height: 16px;
}

.filetype-folder {
  background-image: url(../images/filetype/folder.svg);
  background-size: auto 80%;
}

.filetype-doc,
.filetype-docx {
  background-image: url(../images/filetype/doc.svg);
}

.filetype-ppt,
.filetype-pptx {
  background-image: url(../images/filetype/ppt.svg);
}

.filetype-xls,
.filetype-xlsx {
  background-image: url(../images/filetype/xls.svg);
}

.filetype-png {
  background-image: url(../images/filetype/png.svg);
}

.filetype-jpg,
.filetype-jpeg {
  background-image: url(../images/filetype/jpg.svg);
}

.filetype-csv {
  background-image: url(../images/filetype/csv.svg);
}

.filetype-exe {
  background-image: url(../images/filetype/exe.svg);
}

.filetype-html {
  background-image: url(../images/filetype/html.svg);
}

.filetype-js {
  background-image: url(../images/filetype/js.svg);
}

.filetype-json {
  background-image: url(../images/filetype/json.svg);
}

.filetype-mp3 {
  background-image: url(../images/filetype/mp3.svg);
}

.filetype-mp4 {
  background-image: url(../images/filetype/mp4.svg);
}

.filetype-pdf {
  background-image: url(../images/filetype/pdf.svg);
}

.filetype-psd {
  background-image: url(../images/filetype/psd.svg);
}

.filetype-rtf {
  background-image: url(../images/filetype/rtf.svg);
}

.filetype-svg {
  background-image: url(../images/filetype/svg.svg);
}

.filetype-txt {
  background-image: url(../images/filetype/txt.svg);
}

.filetype-xml {
  background-image: url(../images/filetype/xml.svg);
}

.filetype-zip {
  background-image: url(../images/filetype/zip.svg);
}

.filename,
.filesize {
  margin: 0 10px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filesize {
  color: #C1C1C1;
}

.file-view {
  margin: 20px 0;
  text-align: right;
}
.file-view a {
  margin-left: 5px;
  color: #9B9B9B;
}

.file-view-list .item-list,
.file-view-grid .item-grid {
  color: #27D0D8;
}

.file-list tbody tr:hover {
  background: #F6F6F6;
}
.file-list tbody tr:hover, .file-list tbody tr:hover a {
  color: #2778BE;
}

.file-col-datetime {
  width: 150px;
}

.file-col-filesize {
  width: 100px;
}

td.file-col-filepath {
  width: 230px;
  color: #9B9B9B;
}
tr:hover td.file-col-filepath {
  color: #2778BE;
}

.file-tools {
  position: relative;
  visibility: hidden;
  float: right;
  margin-right: 20px;
}
tr:hover .file-tools {
  visibility: visible;
}
.file-tools button {
  height: 20px;
  color: #2778BE;
  font-size: 20px;
}
.file-tools button + button {
  margin-left: 5px;
}

.file-tools-more {
  display: none;
  right: 0;
  top: 15px;
  width: 85px;
}
.file-tools-selected .file-tools-more {
  display: block;
}

.file-list-name {
  line-height: 20px;
}

.file-list-summary {
  clear: both;
  color: #9B9B9B;
  font-size: 12px;
}
.file-list-summary em {
  color: #FF5960;
}

.disk-tools {
  margin-bottom: -40px;
}

.file-buttons {
  padding-bottom: 5px;
  border-bottom: 1px solid #EBEBEB;
}

.file-buttons-check {
  margin: 0 20px 0 8px;
  color: #9B9B9B;
  font-size: 12px;
  line-height: 22px;
}
.file-buttons-check em {
  color: #4A4A4A;
}

.property {
  float: right;
  position: relative;
  height: 100%;
  background: #fff;
}

.property-inner {
  width: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.property-main {
  width: 243px;
}

.property-handle {
  position: absolute;
  left: -18px;
  top: 50%;
  margin-top: -18px;
  width: 18px;
  height: 36px;
  border-radius: 18px 0 0 18px;
  background: #4A4A4A;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.property-handle .fa-chevron-up {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(-90deg) translateY(-2px);
      -ms-transform: rotate(-90deg) translateY(-2px);
          transform: rotate(-90deg) translateY(-2px);
}

.property-selected .property-inner {
  width: 243px;
}
.property-selected .fa-chevron-up {
  -webkit-transform: rotate(90deg) translateY(-2px);
      -ms-transform: rotate(90deg) translateY(-2px);
          transform: rotate(90deg) translateY(-2px);
}

.property-hd {
  margin: 25px 0 15px 0;
  text-align: center;
}

.property-bd {
  width: 180px;
  margin: 0 auto 25px auto;
  border: 1px dashed #C1C1C1;
}
.property-bd .filetype {
  display: block;
  width: 100%;
  height: 180px;
  margin: 0 auto;
  background-size: 50%;
}

.property-ft {
  padding-left: 25px;
  font-size: 12px;
}
.property-ft li + li {
  margin-top: 10px;
}
.property-ft label {
  color: #9B9B9B;
}

.search-inner {
  width: 650px;
}
.search-inner li {
  width: 350px;
}
.search-inner .field {
  width: 100%;
}
.search-inner .search-extension {
  width: 90px;
}

.preview {
  min-height: 600px;
}
