.download {
  width: 800px;
  margin: 0 auto;
}

.download-hd {
  background: #fff;
  line-height: 110px;
}
.download-hd a {
  float: left;
  width: 33.333%;
  font-size: 30px;
  text-align: center;
}
.download-hd a + a {
  border-left: 1px solid #F6F6F6;
}
.download-hd i {
  margin-right: 15px;
  font-size: 36px;
}

.download-hd-windows {
  color: #2778BE;
}

.download-hd-android {
  color: #27D0D8;
}

.download-bd {
  padding: 100px 70px;
  background: #F6F6F6;
}

.download-item + .download-item {
  margin-top: 55px;
}

.download-item-aside {
  float: left;
  width: 200px;
}
.download-item-aside:before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center top;
}

.download-item-windows:before {
  background-image: url(../images/windows.png);
}

.download-item-android:before {
  background-image: url(../images/android.png);
}

.download-item-iphone:before {
  background-image: url(../images/iphone.png);
}

.download-button {
  display: block;
  width: 180px;
  border: 2px solid #2778BE;
  line-height: 36px;
  text-align: center;
}
.download-button .icon {
  font-size: 20px;
  margin-right: 5px;
}
.download-item-windows .download-button {
  color: #2778BE;
}
.download-item-android .download-button {
  color: #27D0D8;
  border-color: #27D0D8;
}
.download-item-iphone .download-button {
  color: #4A4A4A;
  border-color: #4A4A4A;
}

.download-item-main {
  float: right;
  width: 400px;
}
.download-item-main h3 {
  margin-bottom: 5px;
  font-size: 30px;
}
.download-item-main h4 {
  margin-bottom: 10px;
}
.download-item-main dt {
  color: #C1C1C1;
  font-size: 12px;
}
.download-item-main dd {
  position: relative;
  margin-top: 10px;
  padding-left: 30px;
}
.download-item-main dd:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 6px;
  width: 6px;
  height: 6px;
  background: #9B9B9B;
  border-radius: 100px;
}
