.form {
    width: 520px;
    margin: 35px 0;
    padding-left: 170px;
    > li {
        position: relative;
        + li {
            margin-top: 10px;
        }
    }
}
.form-text {
    position: absolute;
    left: -170px;
    top: 0;
    line-height: 35px;
    width: 170px;
    text-align: right;
}
.field {
    width: 350px;
    height: 35px;
    padding: 5px;
    border: 1px solid #9B9B9B;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.21);
    &:focus {
        box-shadow: none;
    }
}
.form-error {
    margin-top: 5px;
    color: #FC313F;
    font-size: 12px;
    .material-icons {
        font-size: 13px;
        vertical-align: middle;
    }
}
.radio,
.checkbox {
    display: inline-block;
    line-height: 30px;
    margin-right: 10px;
    .field {
        height: 28px;
    }
}
.form-tip {
    position: absolute;
    left: 100%;
    top: 0;
    width: 300px;
    color: #9B9B9B;
    line-height: 35px;
}
span.form-tip {
    margin-left: 10px;
}
