.header {
  position: relative;
  z-index: 50;
  height: 60px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.09);
}
.header a {
  color: #2778BE;
}

.header-item {
  height: 60px;
  border-left: 1px solid #F3F3F3;
}

.header-toggle {
  float: left;
  width: 65px;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
}

.header-nav {
  float: left;
  padding-top: 20px;
}
.header-nav li {
  position: relative;
  float: left;
  font-size: 15px;
  line-height: 20px;
  margin-left: 15px;
}
.header-nav li + li:before {
  content: '|';
  margin-right: 15px;
  color: #2778BE;
}

.header-setting {
  float: right;
  width: 60px;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
}

.header-account {
  position: relative;
  float: right;
  padding: 0 20px 0 25px;
}
.header-account:hover .fa-chevron-down {
  -webkit-transform: rotate(-180deg) scale(0.77);
      -ms-transform: rotate(-180deg) scale(0.77);
          transform: rotate(-180deg) scale(0.77);
}

.header-account-hd {
  margin-top: 23px;
  font-size: 12px;
}

.header-avatar {
  float: left;
  margin-top: -10px;
  width: 33px;
  height: 33px;
  border-radius: 100px;
  margin-right: 8px;
}

.header-username .fa-chevron-down {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  -webkit-transform: scale(0.77);
      -ms-transform: scale(0.77);
          transform: scale(0.77);
  color: #4A4A4A;
}

.header-popup {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  border: 1px solid #EBEBEB;
  background: #fff;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.04);
}
.header-popup:before, .header-popup:after {
  content: "";
  position: absolute;
  right: 18px;
  top: -3px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 3px solid #EBEBEB;
}
.header-popup:after {
  top: -2px;
  border-bottom-color: #fff;
}
.header-item:hover .header-popup {
  display: block;
}

.header-account-bd {
  width: 205px;
}
.header-account-bd li + li {
  border-top: 1px solid #EBEBEB;
}
.header-account-bd a {
  position: relative;
  z-index: 10;
  display: block;
  line-height: 37px;
  text-align: center;
}
.header-account-bd a:hover {
  background-color: #F6F6F6;
  font-weight: bold;
}

.header-notice {
  float: right;
  position: relative;
}

.header-notice-hd {
  padding: 22px 30px;
  font-size: 12px;
}
.header-notice-hd .fa-volume-down {
  position: relative;
  top: 2px;
  font-size: 20px;
  line-height: 16px;
  color: #2778BE;
}
.header-notice-hd span {
  margin: 0 5px 0 8px;
}

.header-notice-count {
  padding: 0 5px;
  border-radius: 100px;
  background: #FF5960;
  color: #fff;
}

.header-notice-bd {
  width: 300px;
  padding: 20px 20px 20px 110px;
}
.header-notice-bd p {
  color: #9B9B9B;
  font-size: 12px;
  line-height: 1.5;
}

.header-notice-datetime {
  position: absolute;
  left: 0;
  top: 20px;
  width: 80px;
  text-align: right;
}
.header-notice-datetime em {
  display: block;
  font-size: 20px;
}
.header-notice-datetime span {
  color: #C1C1C1;
}

.header-notice-title {
  margin-bottom: 10px;
}

.header-notice-more {
  margin-top: 10px;
  font-size: 12px;
  text-align: right;
}

.header-product-bd {
  padding: 90px 0;
  overflow: hidden;
}
.header-product-bd ul {
  margin-top: -70px;
}
.header-product-bd li {
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 70px;
}
.header-product-bd i {
  display: block;
  width: 110px;
  line-height: 110px;
  margin: 0 auto 25px auto;
  border-radius: 200px;
  background-color: #2778BE;
  color: #fff;
  font-size: 53px;
}
.header-product-bd .material-icons {
  background-color: #F3F3F3;
  color: #E0E0E0;
  font-size: 69px;
}

.header-product-info i {
  background-color: #FF5960;
}
