.login {
    width: 700px;
    margin: 0 auto;
    position: relative;
    .form-error {
        position: absolute;
        right: 0;
        bottom: -17px;
        white-space: nowrap;
    }
}
.login-aside {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background: rgba(255, 43, 52, 0.7);
}
.login-slogan {
    padding: 55px 45px;
    color: #fff;
    font-size: 27px;
    h2 {
        margin-bottom: 15px;
        font-size: 38px;
    }
}
.login-activity {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgba(227, 29, 37, 0.35);
    overflow: hidden;
    &, a {
        color: #fff;
    }
    em {
        float: left;
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .material-icons {
        margin-right: 10px;
        font-size: 20px;
    }
    span {
        float: right;
    }
}
.login-activity-item {
    padding: 15px;
    line-height: 20px;
    overflow: hidden;
}
.login-main {
    float: right;
    width: 300px;
    padding: 43px 28px 43px 28px;
    background: #f6f6f6;
    &:before {
        content: "";
        display: block;
        width: 82px;
        height: 82px;
        margin: 0 auto 30px auto;
        background: #D8D8D8 url(../images/logo.svg) no-repeat center center;
        border-radius: 100px;
    }
    li {
        + li {
            margin-top: 20px;
        }
    }
    .icons {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #C1C1C1;
        font-size: 20px;
        pointer-events: none;
    }
}
.login-item {
    position: relative;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
}
.login-field {
    display: block;
    width: 100%;
    height: 42px;
    border: 0;
    padding: 10px 0 10px 40px;
    background-color: transparent;
}
.login-field-captcha {
    width: 120px;
}
.login-captcha {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 82px;
    height: 33px;
    cursor: pointer;
}
.login-tools {
    font-size: 12px;
}
.login-submit {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    background: #4A4A4A;
    color: #fff;
}
.notice-bd {
    padding: 45px 90px;
}
.notice-title {
    margin-bottom: 35px;
    text-align: center;
    font-size: 20px;
}
.notice-datetime {
    margin-bottom: 25px;
    color: #9B9B9B;
    font-size: 12px;
    text-align: right;
}
.notice-content {
    white-space: pre-wrap;
    p {
        margin-bottom: 20px;
    }
}
