.my-chart {
  margin-top: 40px;
}

.my-chart-item {
  float: left;
  width: 50%;
  padding-left: 40px;
  overflow: hidden;
}
.my-chart-item:first-child {
  margin-left: 0;
}
.my-chart-item img {
  vertical-align: middle;
  width: 100%;
}

.my-chart-tab {
  float: right;
}
.my-chart-tab a {
  display: inline-block;
  padding-bottom: 3px;
  margin-left: 10px;
  border-bottom: 2px solid transparent;
  color: #C1C1C1;
  font-size: 12px;
}
.my-chart-tab a:first-child {
  margin-left: 0;
}
.my-chart-tab .selected {
  padding: 0 5px;
  border-bottom-color: #2778BE;
  color: #2778BE;
  cursor: default;
}

.file-col-filepath {
  color: #9B9B9B;
}
