$blue: #2778BE;

.my-chart {
    margin-top: 40px;
}
.my-chart-item {
    float: left;
    width: 50%;
    padding-left: 40px;
    overflow: hidden;
    &:first-child {
        margin-left: 0;
    }
    img {
        vertical-align: middle;
        width: 100%;
    }
}
.my-chart-tab {
    float: right;
    a {
        display: inline-block;
        padding-bottom: 3px;
        margin-left: 10px;
        border-bottom: 2px solid transparent;
        color: #C1C1C1;
        font-size: 12px;
        &:first-child {
            margin-left: 0;
        }
    }
    .selected {
        padding: 0 5px;
        border-bottom-color: $blue;
        color: $blue;
        cursor: default;
    }
}
.file-col-filepath {
    color: #9B9B9B;
}
