<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="libs/ionicons/css/ionicons.css">
<link rel="stylesheet" href="libs/material-design-icons/material-icons.css">
<link rel="stylesheet" href="libs/simple-line-icons/css/simple-line-icons.css">
<link rel="stylesheet" href="style/common.css">
<link rel="stylesheet" href="style/header.css">
<link rel="stylesheet" href="style/form.css">

<script src="libs/jquery-2.2.4.js"></script>
<script src="libs/vue-2.1.10.js"></script>

<script>
window.app = {};
</script>
<script src="js/common.js"></script>