<div id="header">

<div class="header">
    <a href="" class="header-toggle" @click.prevent="toggleAside">
        <i class="fa" :class="{'fa-outdent': !fullsize, 'fa-indent': fullsize}"></i>
    </a>
    
    <ul class="header-item header-nav">
       <li><a href="disk-home.html">云盘</a></li>
       <li><a href="">微课</a></li>
       <li><a href="">教研网</a></li>
       <li><a href="" @click.prevent="showProduct">更多</a></li>
    </ul>
    
    <a href="admin-home.html" class="header-item header-setting"><i class="fa fa-cog"></i></a>
    
    <div class="header-item header-account">
        <div class="header-account-hd">
            <img class="header-avatar" src="images/_temp/user.png" alt="">
            欢迎你：
            <a class="header-username" href="">
                BlueSodi
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
        <ul class="header-popup header-account-bd">
            <li><a href="">文件管理</a></li>
            <li><a href="">消息管理</a></li>
            <li><a href="">个人设置</a></li>
            <li><a href="login.html">退出系统</a></li>
        </ul>
    </div>

    <div class="header-item header-notice">
        <div class="header-notice-hd">
            <i class="fa fa-volume-down"></i>
            <span>系统通告</span>
            <em class="header-notice-count">12</em>
        </div>

        <div class="header-popup header-notice-bd">
            <span class="header-notice-datetime"><em>12.12</em><span>2016</span></span>
            <div class="header-notice-title"><a href="">系统上线通知</a></div>
            <p>系统升级，在2016年6日凌晨进行升级，因此带来不便，请谅解！</p>
            <div class="header-notice-more">
                <a href="">+ 更多消息</a>
            </div>
        </div>
    </div>
</div>

<div v-if="product" class="dialog" @click.self="hideProduct" v-cloak>
    <div class="dialog-inner">
        <a href="" class="dialog-close" title="关闭" @click.prevent="hideProduct"><i class="ion-close-round"></i></a>
        <div class="header-product-bd">
            <ul class="clearfix">
                <li>
                    <a href="">
                        <div class="header-product-icon"><i class="fa fa-mixcloud"></i></div>
                        <label>网育云盘</label>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="header-product-icon"><i class="fa fa-clipboard"></i></div>
                        <label>文件收发</label>
                    </a>
                </li>
                <li>
                    <div class="header-product-icon"><i class="material-icons">access_time</i></div>
                    <label>敬请期待</label>
                </li>
                <li>
                    <div class="header-product-icon"><i class="material-icons">access_time</i></div>
                    <label>敬请期待</label>
                </li>
                <li>
                    <a href="">
                        <div class="header-product-icon header-product-info"><i class="fa fa-stack-overflow"></i></div>
                        <label>信息服务</label>
                    </a>
                </li>
                <li>
                    <div class="header-product-icon"><i class="material-icons">access_time</i></div>
                    <label>敬请期待</label>
                </li>
                <li>
                    <div class="header-product-icon"><i class="material-icons">access_time</i></div>
                    <label>敬请期待</label>
                </li>
                <li>
                    <div class="header-product-icon"><i class="material-icons">access_time</i></div>
                    <label>敬请期待</label>
                </li> 
            </ul>
        </div>
    </div>
</div>

</div>

<script>
(function () {

var data = {
    fullsize: false,
    product: false
};

function toggleAside() {
    this.fullsize = !this.fullsize;
    $('body').toggleClass('fullsize', this.fullsize);
}

function showProduct() {
    this.product = true;
}

function hideProduct() {
    this.product = false;
}

new Vue({
    el: '#header',
    data: data,
    methods: {
        toggleAside: toggleAside,
        showProduct: showProduct,
        hideProduct: hideProduct
    }
});

})();
</script>
