<div class="simple-header clearfix">
    <div class="logo"><span>育网云</span></div>
    <div class="simple-header-aside">
        <a href=""><i class="material-icons">home</i> 首页</a>
        <a href="download.html"><i class="icon ion-android-download"></i>客户端下载</a>
    </div>
</div>