<link rel="stylesheet" href="libs/jstree/theme-default/style.css">

<div id="aside" class="aside">
    <div class="logo aside-hd"><span>育网云</span></div>
    
    <div class="nav">
        <div class="nav-inner">
            <template v-if="shortcutNav === 'show' ">
                <h2 class="nav-hd"><i class="fa fa-link"></i> 快捷导航</h2>
                <ul class="nav-bd">
                    <li><a href=""><i class="fa fa-file-image-o"></i> 图片</a></li>
                    <li><a href=""><i class="fa fa-file-word-o"></i> 文档</a></li>
                    <li><a href=""><i class="fa fa-file-audio-o"></i> 音频</a></li>
                    <li><a href=""><i class="fa fa-file-video-o"></i> 视频</a></li>
                    <li><a href=""><i class="fa fa-file-code-o"></i> 其他</a></li>
                </ul>
            </template>
            
            <div :class="{'aside-more-selected': moreSelected}">
                <h2 class="nav-hd">
                    <a href="" class="nav-hd-more" @click.prevent="moreSelected = !moreSelected"><i class="fa fa-ellipsis-h"></i></a>
                    <i class="ion-android-person"></i> 我的空间
                </h2>
                
                <ul class="nav-disk" :class="['nav-' + diskType + '-selected']">
                    <li class="nav-disk-item nav-disk-asset">
                        <a class="nav-disk-item-hd" href="" @click.prevent="toggleDiskType('asset')">资料盘</a>
                        <div class="nav-tree nav-tree-asset" v-tree>
                            <ul>
                                <li data-jstree='{"icon": "ion-ios-folder"}'>
                                    必修课
                                    <ul>
                                        <li data-jstree='{"icon": "fa fa-file-image-o"}'>历史</li>
                                        <li data-jstree='{"icon": "fa fa-file-audio-o"}'>数学</li>
                                    </ul>
                                </li>
                                <li data-jstree='{"icon": "ion-ios-folder"}'>
                                    选修课
                                    <ul>
                                        <li data-jstree='{"icon": "fa fa-file-video-o"}'>语文</li>
                                        <li data-jstree='{"icon": "fa fa-file-word-o"}'>英语</li>
                                        <li data-jstree='{"icon": "fa fa-file-code-o"}'>音乐</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-disk-item nav-disk-data">
                        <a class="nav-disk-item-hd" href="" @click.prevent="toggleDiskType('data')">数据盘</a>
                        <div class="nav-tree nav-tree-data" v-tree>
                            <ul>
                                <li data-jstree='{"icon": "ion-ios-folder"}'>
                                    必修课2
                                    <ul>
                                        <li data-jstree='{"icon": "fa fa-file-video-o"}'>历史2</li>
                                        <li>数学2</li>
                                    </ul>
                                </li>
                                <li data-jstree='{"icon": "ion-ios-folder"}'>
                                    选修课2
                                    <ul>
                                        <li>语文2</li>
                                        <li>英语2</li>
                                        <li>音乐2</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-disk-item nav-disk-view">
                        <a class="nav-disk-item-hd" href="" @click.prevent="toggleDiskType('view')">展示盘</a>
                        <div class="nav-tree nav-tree-view" v-tree>
                            <ul>
                                <li data-jstree='{"icon": "ion-ios-folder"}'>
                                    必修课3
                                    <ul>
                                        <li>历史3</li>
                                        <li>数学3</li>
                                    </ul>
                                </li>
                                <li data-jstree='{"icon": "ion-ios-folder"}'>
                                    选修课3
                                    <ul>
                                        <li data-jstree='{"icon": "fa fa-file-video-o"}'>语文3</li>
                                        <li>英语3</li>
                                        <li>音乐3</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-disk-item">
                        <a class="nav-disk-item-hd nav-disk-trash" href=""><i class="fa fa-trash-o"></i>我的回收站</a>
                    </li>
                </ul>
                
                <ul class="nav-bd aside-more" v-if="moreSelected">
                    <li><a href=""><i class="fa fa-file-image-o"></i> 图片</a></li>
                    <li><a href=""><i class="fa fa-file-word-o"></i> 文档</a></li>
                    <li><a href=""><i class="fa fa-file-audio-o"></i> 音频</a></li>
                    <li><a href=""><i class="fa fa-file-video-o"></i> 视频</a></li>
                    <li><a href=""><i class="fa fa-file-code-o"></i> 其他</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="aside-ft">
        <div class="aside-summary">
            <h2 class="aside-summary-hd">空间统计</h2>
            <div class="aside-summary-bd"><span style="width: 60%;"></span></div>
            <div class="aside-summary-ft"><em>881.01G</em> / 1000G</div>
        </div>

        <ul class="aside-download clearfix">
            <li><a href="" title="Windows"><i class="ion-social-windows"></i></a></li>
            <li><a href="" title="Android"><i class="ion-social-android"></i></a></li>
            <li><a href="" title="iPhone"><i class="ion-social-apple"></i></a></li> 
        </ul>
    </div>
</div>

<script src="libs/jstree/jstree.js"></script>
<script src="js/disk/aside.js"></script>