<div id="crumb">
    <div class="crumb">
        <div class="searchbar">
            <form action="disk-result.html">
                <div class="searchbar-field">
                    <input type="text" placeholder="输入想要查询的关键字">
                    <button class="searchbar-submit" type="submit" title="搜索"><i class="fa fa-search"></i></button>
                </div>
                <a class="searchbar-more" href="" @click.prevent="showSearchForm">高级搜索</a>
            </form>
        </div>

        <div class="crumb-bd">
            <a href="">我的空间</a>
            <span>&gt;</span>
            <em>全部文件</em>
        </div>
    </div>

    <div v-cloak v-if="searchForm" class="dialog search">
        <div class="dialog-inner search-inner">
            <a href="" class="dialog-close" title="关闭" @click.prevent="hideSearchForm"><i class="ion-close-round"></i></a>
            <h2 class="dialog-hd">高级搜索</h2>

            <form action="disk-result.html">
                <ul class="form">
                    <li>
                        <label class="form-text">检索内容：</label>
                        <input type="text" class="field">
                        <div class="form-error">请输入内容 <i class="material-icons">cancel</i></div>
                    </li>
                    <li>
                        <label class="form-text">文件格式：</label>
                        <select class="field">
                            <option value="">全部格式</option>
                        </select>
                    </li>
                    <li>
                        <label class="form-text">上传者：</label>
                        <input type="text" class="field">
                    </li>
                    <li class="search-filetype">
                        <label class="form-text">文件类型：</label>
                        <label class="radio">
                            <input type="radio" name="filetype">
                            全部
                        </label>
                        <label class="radio">
                            <input type="radio" name="filetype">
                            文件
                        </label>
                        <label class="radio">
                            <input type="radio" name="filetype">
                            图片
                        </label>
                        <label class="radio">
                            <input type="radio" name="filetype">
                            音乐
                        </label>
                        <label class="radio">
                            <input type="radio" name="filetype">
                            视频
                        </label>
                        <label class="radio">
                            <input type="radio" name="filetype">
                            自定义扩展名
                            <input type="text" class="field search-extension" placeholder="如.rar">
                        </label>
                    </li>
                    <li>
                        <label class="form-text">文件路径：</label>
                        <input type="text" class="field">
                    </li>
                    <li>
                        <label class="form-text">文件大小：</label>
                        <input type="text" class="field">
                    </li>
                    <li>
                        <label class="form-text">开始日期：</label>
                        <input type="text" class="field">
                    </li>
                    <li>
                        <label class="form-text">结束日期：</label>
                        <input type="text" class="field">
                    </li>
                    <li>
                        <label class="form-text">检索方式：</label>
                        <label class="checkbox">
                            <input type="checkbox">
                            私有盘
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            公共盘
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            全文检索
                        </label>
                    </li>
                    <li>
                        <button class="button button-large button-submit" type="submit">开始检索</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

<script>
(function () {
var data = {
    searchForm: null
};

function showSearchForm() {
    this.searchForm = true;
}

function hideSearchForm() {
    this.searchForm = false;
}

new Vue({
    el: '#crumb',
    data: data,
    methods: {
        showSearchForm: showSearchForm,
        hideSearchForm: hideSearchForm
    }
});

})();
</script>
