<div id="files" v-cloak>
    <div class="file-view" :class="['file-view-' + view]">
        <a class="item-list" href="" title="列表模式" @click.prevent="view = 'list' ">
            <i class="material-icons">format_list_bulleted</i>
        </a>
        <a class="item-grid" href="" title="网格模式" @click.prevent="view = 'grid' ">
            <i class="material-icons">apps</i>
        </a>
    </div>

    <div class="file-buttons">
        <label class="file-buttons-check"><input type="checkbox"> 已选中<em>[01]</em>个文件</label>
        <button class="button" type="button"><i class="fa fa-download"></i> 下载</button>
        <button class="button" type="button"><i class="fa fa-share-alt"></i> 分享</button>
        <button class="button" type="button"><i class="fa fa-retweet"></i> 重命名</button>
        <button class="button" type="button"><i class="fa fa-files-o"></i> 复制到</button>
        <button class="button" type="button"><i class="fa fa-exchange"></i> 移动到</button>
        <button class="button button-remove" type="button"><i class="fa fa-trash"></i> 删除</button>
    </div>

    <div v-if="view === 'list' " class="file-list">
        <!--#include virtual="view-list.html" -->
    </div>

    <div v-if="view === 'grid' " class="file-grid">
        <!--#include virtual="view-grid.html" -->
    </div>
    
    <component is="grid-context-menu" :context="gridContext" @close="closeGridContextmenu"></component>
</div>

<script id="grid-context-menu-tmpl" type="text/html">    
<ul v-if="context" class="context-menu file-context-menu" :style="{left: context.style.left + 'px', top: context.style.top + 'px'}">
    <li><i class="fa fa-refresh"></i>刷新</li>
    <li>新建文件夹</li>
    <li @click="removeFile">删除文件</li>
    <li>下载文件</li>
    <li><i class="fa fa-star"></i>收藏文件</li>
    <li>设置提取码</li>
    <li @click="showProperty('test-file-id')">属性</li>
</ul>
</script>

<script id="confirm-tmpl" type="text/html">
<div v-if="message" class="dialog" @click.self="close">
    <div class="dialog-inner confirm">
        <a href="" class="dialog-close" title="关闭" @click.prevent="close"><i class="ion-close-round"></i></a>
        <h2 class="dialog-hd">信息确认</h2>
        <div class="confirm-bd">{{message}}</div>
        <div class="confirm-ft">
            <button type="button" class="button" @click.prevent="submit">确 定</button>
            <button type="button" class="button" @click.prevent="close">取 消</button>
        </div>
    </div>
</div>
</script>

<script id="preview-tmpl" type="text/html">
<div v-if="content" class="dialog" @click.self="close">
    <div class="dialog-inner preview">
        <a href="" class="dialog-close" title="关闭" @click.prevent="close"><i class="ion-close-round"></i></a>
        <h2 class="dialog-hd">预览</h2>
        <div class="preview-bd" v-html="content"></div>
    </div>
</div>
</script>

<script>
(function () {

var data = {
    view: app.view || 'grid',
    listContextMenu: false,
    gridContext: null,
};

function toggleListContextMenu() {
    this.listContextMenu = !this.listContextMenu;
}

function hideListContextMenu() {
    var self = this;
    setTimeout(function () {
        self.listContextMenu = false;
    }, 200);
}

var gridContextMenuComponent = {
    name: 'grid-context-menu',
    template: '#grid-context-menu-tmpl',
    props: ['context'],
    mounted: function () {
        var self = this;
        $('body').on('click', function (event) {
            setTimeout(function () {
                self.$emit('close');
            }, 200);
        });
    },
    methods: {
        removeFile: removeFile,
        showProperty: app.showProperty
    }
};

function removeFile() {
    app.dialogConfirm('您确实要删除该文件吗？', function (/*这里能接收到参数*/) {
        alert('TODO 删除');
    });
}

function preview(content) {
    var options = {
        template: '#preview-tmpl',
        data: function () {
            return {
                content: content
            };
        },
        methods: {
            close: function () {
                this.content = '';
            }
        }
    };
    var Dialog = Vue.extend(options);
    var instance = new Dialog({
        el: document.createElement('div')
    });
    $('body').append(instance.$el);
}

function showGridContextmenu(event, context) {
    var offset = $(this.$el).offset();
    this.gridContext = $.extend({
        style: {
            left: event.pageX,
            top: event.pageY
        }
    }, context);
}

function closeGridContextmenu() {
    this.gridContext = null;
}

new Vue({
    el: '#files',
    data: data,
    components: {
        'grid-context-menu': gridContextMenuComponent
    },
    methods: {
        toggleListContextMenu: toggleListContextMenu,
        hideListContextMenu: hideListContextMenu,
        showGridContextmenu: showGridContextmenu,
        closeGridContextmenu: closeGridContextmenu,
        preview: preview
    }
});

})();
</script>