<div class="file-tools" :class="{'file-tools-selected': listContextMenu}" @mouseleave="hideListContextMenu">
    <button title="下载" type="button"><i class="fa fa-download"></i></button>
    <button title="分享" type="button"><i class="fa fa-share-alt"></i></button>
    <button title="更多" type="button" @click="toggleListContextMenu"><i class="fa fa-ellipsis-h"></i></button>
    <ul class="context-menu file-tools-more" @click="hideListContextMenu">
       <li>复制到</li>
       <li>移动到</li>
       <li>删除</li>
    </ul>
</div>