<div id="property" class="property" :class="{'property-selected': property}" v-cloak v-if="file">
    <button class="property-handle" type="button" @click="toggleProperty"><i class="fa fa-chevron-up"></i></button>
    <div class="property-inner" v-if="property">
        <div class="property-main">
            <h2 class="property-hd">文件详情</h2>
            <div class="property-bd">
                <i class="filetype filetype-folder"></i>
            </div>
            <ul class="property-ft">
                <li><label>文件名称：</label> <span>新建文件夹</span></li>
                <li><label>文件类型：</label> <span>文件夹</span></li>
                <li><label>所属模块：</label> <span>个人文件</span></li>
                <li><label>文件路径：</label> <span>/网教育云盘</span></li>
                <li><label>创建时间：</label> <span>2016-12-12 19:00:08</span></li>
                <li><label>更新时间：</label> <span>2016-12-23 08:12:31</span></li>
                <li><label>文件大小：</label> <span>411.23MB</span></li>
                <li><label>包含文件：</label> <span>109</span></li>
            </ul>
        </div>
    </div>
</div>

<script>
(function () {
var instance;

app.showProperty = function (fileId) {
    var data = {
        property: true,
        file: {
            id: fileId
        }
    };

    if(instance) {
        instance.property = true;
        instance.file.id = fileId;
    } else {
        instance = new Vue({
            el: '#property',
            data: data,
            mounted: mounted,
            methods: {
                toggleProperty: toggleProperty
            }
        });
    }
}

function toggleProperty() {
    this.property = !this.property;
}

function mounted() {
    // TODO
    console.info('property: getFileData by Id', this.file.id);
}

})();
</script>