<div>
    <div class="recent">
        <div class="disk-title">
            <div class="disk-title-summary"><strong>03</strong>文件夹</div>
            <i class="ion-ios-folder"></i>
            <h2>常用文件夹</h2>
            <span>最近经常访问的文件夹</span>
        </div>
        
        <div class="file-grid">
            <ul class="clearfix">
                <li>
                    <a href="disk-files.html">
                        <i class="filetype filetype-folder"></i> 
                        <div class="filename">网教云盘</div>
                    </a>
                </li> 
                <li>
                    <a href="disk-files.html">
                        <i class="filetype filetype-folder"></i> 
                        <div class="filename">新建文件夹</div>
                    </a>
                </li> 
                <li>
                    <a href="disk-files.html">
                        <i class="filetype filetype-folder"></i> 
                        <div class="filename">我的资料</div>
                    </a>
                </li> 
            </ul>
        </div>
    </div>

    <div class="recent">
        <div class="disk-title">
            <div class="disk-title-summary"><strong>10</strong>文件</div>
            <i class="ion-ios-folder"></i>
            <h2>最近访问的文件</h2>
            <span>最近30天访问的文件列表</span>
        </div>

        <!--#include virtual="files.html" -->
    </div>
</div>
