<ul class="clearfix">
    <li>
        <input type="checkbox" class="file-grid-checkbox">
        <a href="disk-files.html"
            @click.prevent="preview('TODO 预览的内容')"
            @contextmenu.prevent="showGridContextmenu($event)">
            <i class="filetype filetype-folder"></i> 
            <div class="filename">网教云盘</div>
        </a>
    </li> 
    <li class="selected">
        <input type="checkbox" class="file-grid-checkbox" checked>
        <a href="disk-files.html"
            @click.prevent="preview('TODO 预览的内容')"
            @contextmenu.prevent="showGridContextmenu($event)">
            <i class="filetype filetype-folder"></i> 
            <div class="filename">新建文件夹</div>
        </a>
    </li> 
    <li>
        <input type="checkbox" class="file-grid-checkbox">
        <a href="disk-files.html" 
            @click.prevent="preview('TODO 预览的内容')"
            @contextmenu.prevent="showGridContextmenu($event)">
            <i class="filetype filetype-folder"></i> 
            <div class="filename">我的资料</div>
        </a>
    </li>
    <li>
        <input type="checkbox" class="file-grid-checkbox">
        <a href="" 
            @click.prevent="preview('TODO 预览的内容')"
            @contextmenu.prevent="showGridContextmenu($event)">
            <i class="filetype filetype-doc"></i>
            <div class="filename">南昌教育介绍内部培训讲稿.doc</div>
            <span class="filesize">12KB</span>
        </a>
    </li>
    <li>
        <input type="checkbox" class="file-grid-checkbox">
        <a href="" 
            @click.prevent="preview('TODO 预览的内容')"
            @contextmenu.prevent="showGridContextmenu($event)">
            <i class="filetype filetype-docx"></i>
            <div class="filename">南昌教育介绍内部培训讲稿.docx</div>
            <span class="filesize">12KB</span>
        </a>
    </li>
    <li>
        <input type="checkbox" class="file-grid-checkbox">
        <a href="" 
            @click.prevent="preview('TODO 预览的内容')"
            @contextmenu.prevent="showGridContextmenu($event)">
            <i class="filetype filetype-ppt"></i>
            <div class="filename">南昌教育介绍.ppt</div>
        </a>
    </li>
    <li>
        <input type="checkbox" class="file-grid-checkbox">
        <a href="" 
            @click.prevent="preview('TODO 预览的内容')"
            @contextmenu.prevent="showGridContextmenu($event)">
            <i class="filetype filetype-pptx"></i>
            <div class="filename">南昌教育介绍.pptx</div>
        </a>
    </li>
    <li>
        <input type="checkbox" class="file-grid-checkbox">
        <a href="" 
            @click.prevent="preview('TODO 预览的内容')"
            @contextmenu.prevent="showGridContextmenu($event)">
            <i class="filetype filetype-png"></i>
            <div class="filename">南昌教育介绍.png</div>
        </a>
    </li>
    <li>
        <input type="checkbox" class="file-grid-checkbox">
        <a href="" 
            @click.prevent="preview('TODO 预览的内容')"
            @contextmenu.prevent="showGridContextmenu($event)">
            <i class="filetype filetype-pdf"></i>
            <div class="filename">南昌教育介绍.pdf</div>
        </a>
    </li>
</ul>