<table class="table">
    <thead>
        <tr>
            <th class="table-col-check"></th>
            <th class="file-col-filename"><a href="">文件名 <i class="fa fa-sort"></i></a></th>
            <th class="file-col-datetime"><a href="">更新时间 <i class="fa fa-sort-asc"></i></a></th>
            <th class="file-col-filesize"><a href="">文件大小 <i class="fa fa-sort-desc"></i></a></th>
            <th class="file-col-filepath">路径</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-col-check"><input type="checkbox"></td>
            <td>
                <!--#include virtual="file-tools.html" -->
                <div class="file-list-name">
                    <i class="filetype filetype-docx"></i>
                    <a href="">南昌市基础数据平台建设方案v2.docx</a>
                </div>
            </td>
            <td>2016-12-12 19:23:09</td>
            <td>127KB</td>
            <td class="file-col-filepath">／云盘／网教云盘／南昌市</td>
        </tr>
        <tr>
            <td class="table-col-check"><input type="checkbox"></td>
            <td>
                <!--#include virtual="file-tools.html" -->
                <div class="file-list-name">
                    <i class="filetype filetype-pdf"></i>
                    <a href="">南昌市基础数据平台建设方案v2.pdf</a>
                </div>
                <p class="file-list-summary">通过不断投资和持续创新，努力缔造一流的技术和服务，致力于成为 “<em>南昌</em>中国教育软件研发与教育移动互联网信息服务领跑者”。 4.2 部分案例</p>
            </td>
            <td>2016-12-12 19:23:09</td>
            <td>127KB</td>
            <td class="file-col-filepath">／云盘／网教云盘／南昌市</td>
        </tr>
        <tr>
            <td class="table-col-check"><input type="checkbox"></td>
            <td>
                <!--#include virtual="file-tools.html" -->
                <div class="file-list-name">
                    <i class="filetype filetype-ppt"></i>
                    <a href="">南昌市基础数据平台建设方案v2.ppt</a>
                </div>
            </td>
            <td>2016-12-12 19:23:09</td>
            <td>127KB</td>
            <td class="file-col-filepath">／云盘／网教云盘／南昌市</td>
        </tr>
    </tbody>
</table>

<div class="pagination">
    <span class="pagination-count">共[<em>64</em>]项信息</span>
    <span class="pagination-select">
        每页显示
        <select>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
        </select>
    </span>
    <div class="pagination-main">
        <span title="上一页">&lt;</span><!-- 禁用状态 -->
        <a href="" title="上一页">&lt;</a>
        <a href="">1</a>
        <span class="pagination-current">2</span>
        <a href="">3</a>
        <span>...</span>
        <a href="">11</a>
        <a href="">12</a>
        <a href="" title="下一页">&gt;</a>
        <span title="下一页">&gt;</span><!-- 禁用状态 -->
    </div>
</div>